@model List<Optik.DTO.TestimonialDTOs.ResultTestimonialDto>

<div class="clients">
   <div class="container">
      <div class="row">
         
         <div class="col-md-12">
            <div class="titlepage">
               <h2>Musterilerimiz Ne Diyor</h2>
               <p>orem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut la</p>
            </div>
         </div>
      </div>
      <div class="row">
         <div class="col-md-12">
            <div id="myCarousel" class="carousel slide clients_Carousel " data-ride="carousel">
               <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1"></li>
                  <li data-target="#myCarousel" data-slide-to="2"></li>
               </ol>
               <div class="carousel-inner">
                  
                     <div class="carousel-item active">
                        <div class="container">
                           <div class="carousel-caption ">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="clients_box">
                                       <figure><img src="item.ImageURL" alt="#"/></figure>
                                       <h3>item.Name</h3>
                                       <p>item.Message</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>

                  @foreach (var item in Model)
                  {
                     <div class="carousel-item">
                        <div class="container">
                           <div class="carousel-caption ">
                              <div class="row">
                                 <div class="col-md-12">
                                    <div class="clients_box">
                                       <figure><img src="@item.ImageURL" alt="#"/></figure>
                                       <h3>@item.Name</h3>
                                       <p>@item.Message</p>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  }
                  

               </div>
               <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                  <i class='fa fa-angle-left'></i>
               </a>
               <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                  <i class='fa fa-angle-right'></i>
               </a>
            </div>
         </div>
      </div>
   </div>
</div>