@model List<Optik.DTO.AboutDTOs.ResultAboutDto>

<div class="about">
    <div class="container">
        <div class="row d_flex">
            @foreach (var item in Model)
            {
                <div class="col-md-5">
                    <div class="about_img">
                        <figure><img src="@item.ImageURL" alt="#"/></figure>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="titlepage">
                        <h2>@item.Title</h2>
                        <p>@item.Description</p>
                    </div>
                    <a class="read_more" href="#">Devamı İçin</a>
                </div>
            }
           
        </div>
    </div>
</div>