@model List<Optik.DTO.ShopDTOs.ResultShopDto>

<div id="about" class="shop">
    <div class="container-fluid">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-5">
                    <div class="shop_img">
                        <figure><img src="@item.ImageURL" alt="#"/></figure>
                    </div>
                </div>
                <div class="col-md-7 padding_right0">
                    <div class="max_width">
                        <div class="titlepage">
                            <h2>@item.Title</h2>
                            <p>@item.Description</p>
                            <a class="read_more" href="#">Alışveriş İçin</a>
                        </div>
                    </div>
                </div>
            }
          
        </div>
    </div>
</div>
