<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("_HeadUILayoutComponentPartial") 
<body class="main-layout">
<div class="loader_bg">
    <div class="loader"><img src="~/html/images/loading.gif" alt="#" /></div>
</div>
@await Component.InvokeAsync("_HeaderUILayoutComponentPartial")
<section class="banner_main">
    @RenderBody()
</section>

@await Component.InvokeAsync("_FooterUILayoutComponentPartial")    
@await Component.InvokeAsync("_ScriptUILayoutComponentPartial")
</body>
</html>

